<h1>Listagem de Marcas</h1>

<br />

<ul>
    <% @marks.each do |mark| %>
        <%# imagem_mark = mark.assets.nil? ?  : "" %>
        <ol><%= image_tag (mark.assets.first.asset.url(:thumb)), class: "img-thumbnail" if mark.assets.present? %> </ol>
    <% end %>

</ul>

