
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Objetivo
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        Na Expedicionários Peças o objetivo é inovar o mercado de vendas de carros novos, usados e sucatas, 
        tendo na relação amigável com seus clientes a garantia e legalidades de seus produtos, na constante 
        renovação de estoque e busca de novidades a base para efetivação de bons negócios.      
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Desafio
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        A Expedicionários Peças tem como desafio decolar no mercado de vendas de carros novos, 
        usados e sucatas, conquistando a fidelidade de seus clientes.      
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsFour">
        Missão
      </a>
    </div>
    <div id="collapsFour" class="accordion-body collapse">
      <div class="accordion-inner">
        Atuar com ética e responsabilidade social sempre.      
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
        Equipe
      </a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">
      <div class="accordion-inner">
        Profissionais experientes que garantem um atendimento individualizado, de qualidade, propiciando assim a satisfação do nosso cliente.
      </div>
    </div>
  </div>

</div>
