<h1>Listagem de Produtos</h1>

<br>

<ul>
  <% @products.each do |product| %>
    <ol>
      <%= product.name %>
      <p>
        <%= image_tag product.assets.first.asset.url(:thumb) if product.assets.present? %>
      </p>
    </ol>
  <% end %>
</ul>


